body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    font-family: 'Segoe UI', sans-serif;
    color: white;
}

.player {
    width: 350px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    background: rgba(255,255,255,0.1);
    
}

.player img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
    margin: 10px auto;
    display: block;
}

.controls button {
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

input[type="range"] {
    width: 100%;
    margin: 5px 0;
}
.time {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

#playlist div {
    margin-top: 5px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s;
}

#playlist div:hover {
    background: rgba(255,255,255,0.2);
}
#visualizer {
    width: 100%;
    height: 80px;
    margin-top: 15px;
    border-radius: 10px;
    background: rgba(255,255,255,0.1);
}
@media (max-width: 500px) {
   .player {
       width: 90%;
   }
}